name: Build and Deploy

on:
  push:
    branches:
      - main  # hoặc nhánh mà bạn muốn tự động triển khai

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v2

      - name: Setup Node.js
        uses: actions/setup-node@v2
        with:
          node-version: '20'  # hoặc phiên bản Node.js mà bạn đang sử dụng

      - name: Install dependencies
        run: npm install

      - name: Build the site
        run: npm run build
